<div class="accordion mt-5 mb-5" id="produtForm">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Add your own product
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#produtForm">
      <div class="card-body">

        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <input type="hidden" value="{{ newProductId() }}" formControlName="id">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Product name" required="required" formControlName="title">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-2 pr-0 dollar-wrap">
                  <label for="price" class="dollar-sign">$</label>
                </div>
                <div class="col-10 pl-0">
                  <input type="number" id="price" class="form-control" min="1" value="1" required="required" formControlName="price">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="discount" formControlName="discount">
                <label class="form-check-label" for="discount">
                  Does product have a discount?
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="productDescription">Product Description</label>
              <textarea class="form-control" id="productDescription" rows="3" formControlName="description"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="image">Product image url</label>
              <input type="text" id="image" class="form-control" placeholder="Image URL" formControlName="image">
            </div>
          </div>
          <div class="row mt-2">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
